#app {
  /* width: 100%; */

  /* height: calc(100% - 2rem); */
  /* height: calc(100% - 24px); */
  /* border: 12px greenyellow double; */
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

footer {
  margin: 1em;
  color: gray;
}

footer a {
  color: #8a8;
}

#bar {
  display: flex;
  justify-content: center;
  color: limegreen;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  flex: 0 0 auto;
}

#label {
  width: 50%;
  margin:0;
}

#bar button {
  width: 10rem;
}